<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="device-container">
        <img class="img-responsive" src="assets/img/01.png">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="header-content">
        <div class="header-content-inner">
          <h1>Una flor para ti</h1>
          <h4>A veces no hace falta una ocasión especial para tener un bonito detalle con alguien. Pero si existe un día
            dedicado a regalar flores amarillas, ¿por qué no aprovecharlo para alegrarle un poquito el día a una persona
            especial? 🌻 Espero que esta pequeña sorpresa te saque una sonrisa y te recuerde que siempre es bonito
            recibir un detalle inesperado.

            No pude entregártela en persona, así que hice que floreciera aquí. 💛
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="audioembed">
  <audio controls="true" autoplay="true" src="assets/audio/audio.mp3" onloadeddata="setLowVolume()"
    id="audio1"></audio>
</div>
